/ClaimManagement.Application/obj
/ClaimManagement.Application/bin
/ClaimManagement.Domain/obj
/ClaimManagement.Domain/bin
/ClaimManagement.Infrastructure/obj
/ClaimManagement.Infrastructure/bin
/ClaimManagementAPIGateway/obj
/ClaimManagementAPIGateway/bin
/InsuranceClaimHandler.ReadAPI/obj
/InsuranceClaimHandler.ReadAPI/bin
/InsuranceClaimHandler.WriteAPI/obj
/InsuranceClaimHandler.WriteAPI/bin
/.vs
/InsuranceClaimHandler.WriteAPI/InsuranceClaimHandler.WriteAPI.csproj.user
/InsuranceClaimHandler.API/InsuranceClaimHandler.API.csproj.user
/InsuranceClaimHandler.API/bin
/InsuranceClaimHandler.API/obj
/FunctionAppClaimAudit/FunctionAppClaimAudit.csproj.user
/FunctionAppClaimAudit/bin
/FunctionAppClaimAudit/obj
/Tests/Application.Tests/bin
/Tests/Application.Tests/obj
/Tests/ClaimManagementAPI.Tests/bin
/Tests/ClaimManagementAPI.Tests/obj
/Tests/Infrastructure.Tests/bin
/Tests/Infrastructure.Tests/obj
/Tests/AzureFunctions.Tests/obj
/Tests/AzureFunctions.Tests/bin
/InsuranceClaimHandler.API/appsettings.json
/InsuranceClaimHandler.API/appsettings.Development.json
/FunctionAppClaimAudit/host.json
/FunctionAppClaimAudit/local.settings.json
