// custom.scss
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
.bg-info {
    background-color: #e9e9e9 !important;
}

.navbar-dark .navbar-brand {
    color: #003C71 !important;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #4EC3E0 !important;
}